<h1>Repositories for <%= @owner.to_param %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th></th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= link_to repository.name, [@owner, repository] %></td>
    <td><%= repository.summary %></td>
    <td>
      <%= link_to 'Edit', polymorphic_path([@owner, repository], :action => :edit ) %>
    </td>
  </tr>
    
<% end %>
</table>

<br />
