/* override blueprint on some things */
/* (use !important to override) */

a {
  color: #3465a4 !important;
}

h1, h2, h3, h4, h5, h6, hr {
  color: #2e3436 !important;
  /* font-weight: bold !important; */
  /* color: #204a87 !important; */
  /* limit the width of the bottom border */
  /* width: 90%; */
}

h1, h2, hr {
  border: none !important;
  border-bottom: 1px solid #babdb6 !important;
}

/* set up marker-related styles */

.indent {
  margin-left: 1.5em !important;
  margin-bottom: 1.5em;
}

/* compress lists that are next to one another.  since the adjacency operator,
 * +, selects the second element and we need to remove the space from the
 * first, we use a negative margin.  The margin on all list-like elements
 * should be 1.5em. */
ul + ul, ul + ol, ul + dl, ul + .indent,
ol + ul, ol + ol, ol + dl, ol + .indent,
dl + ul, dl + ol, dl + dl, dl + .indent,
.indent + ul, .indent + ol,
.indent + dl, .indent + .indent {
  margin-top: -1.5em !important;
}

ol.footnotes {
  border-top: 1px solid #babdb6;
  padding-top: 0.5em;
  overflow: visible;
  width: 70px; /* span-2 */
}

ol.footnotes li {
  width: 470px; /* span-12 */
}

/* generic style classes */

.float {
  float: right !important;
}

.round {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.round-top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  border-radius-topright: 5px;
}

.round-bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
  border-radius-bottomright: 5px;
}

.big-button {
  background-color: #f57900;
  -moz-box-shadow: 1px 1px 4px #555753;
  -webkit-box-shadow: 1px 1px 4px #555753;
  box-shadow: 1px 1px 4px #555753;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ce5c00;
  border-top: 1px solid #fcaf3e;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  text-align: center;
  /* must use the same height as inner link */
  height: 3em;
}

.big-button a {
  /* text style */
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff !important;
  /* use the entire parent div */
  display: block;
  padding-top: 0.25em;
  height: 3em;
  width: 100%;
}

.big-button a:hover {
  text-decoration: underline;
}

/* for 'X' links */
a.remove {
  margin-left: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  color: #3465a4 !important;
}

/* horizontal lists */
ul.horizontal-list {
  margin-top: 0.5em;
  list-style-type: none;
  text-align: center;
}

ul.horizontal-list li {
  padding: 0.5em;
  display: inline;
}

/* serif/italic text */
.fancy {
  font-family: Georgia, serif;
  font-style: italic;
}

/* layout styles */

body {
  background-color: #eeeeec !important;
  color: #2e3436 !important;
  font-family: Helvetica, sans-serif !important;
}

#header {
  width: 100%;
  background-color: #eeeeec;
  border-bottom: 2px solid #f57900;
  -moz-box-shadow: 1px 1px 5px #555753;
  -webkit-box-shadow: 1px 1px 5px #555753;
  margin: auto;
  position: relative;
  z-index: 2;
}

#logo a {
  letter-spacing: -0.03em;
  font-size: 34pt;
  font-weight: bold;
  text-decoration: none;
  color: #204a87 !important;
}

#logo a #code {
  color: #f57900;
}

#notification-area {
  background-color: #fff;
  position: fixed;
  /* border and shadow */
  border: 3px solid #babdb6;
  border-top: none;
  -moz-box-shadow: 1px 1px 4px #555753;
  -webkit-box-shadow: 1px 1px 4px #555753;
  box-shadow: 1px 1px 4px #555753;
  /* hide border and shadow when not showing */
  margin-top: -7px;
  /* make sure it is on top when displayed */
  z-index: 3;
}

#notification-area>div {
  margin-top: 1em;
}

#container-background {
  /* set a little larger than the container to create padding without messing
   * up the grid
   */
  width: 970px;
  background-color: #fff;
  border-left: 2px solid #babdb6;
  border-right: 2px solid #babdb6;
  border-bottom: 2px solid #babdb6;
  -moz-box-shadow: 1px 1px 5px #555753;
  -webkit-box-shadow: 1px 1px 5px #555753;
  box-shadow: 1px 1px 5px #555753;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
  /* hide the top under the header */
  margin-top: -1em;
  padding-top: 1em;
  position: relative;
  z-index: 1;
}

#sidebar {
  margin-top: 2em;
  margin-left: 1em;
  padding-left: 1em;
  background-color: #fff;
  border-left: 1px solid #babdb6;
}

#content {
  padding-top: 1em;
}

#footer-background {
  width: 970px;
  background-color: #eeeeec;
  border-top: 2px solid #f57900;
  margin: auto;
}

#footer {
  padding: 0.5em;
  color: #2e3436;
  text-align: center;
}

/* flash and system messages */

#notification-area .error,
#notification-area .notice,
#notification-area .success,
#notification-area .system-message {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 2em;
  font-size: 11pt;
}

#notification-area .error {
  color: #cc0000;
}

#notification-area .notice {
  color: #f57900;
}

#notification-area .success {
  color: #4e9a06;
}

#notification-area .system-message {
  font-size: 12pt;
}

.double_border {
  padding: 1px;
  border: 1px solid #555753;
}

/* start will_paginate css */
.digg_pagination {
  background: white;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination em {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }
/* end will_paginate css */
