<h1><%= @user.username %></h1>

<div class="span-9">
<h2>Recent Activity</h2>
</div>

<div class="span-9 last">
<h2>Repositories</h2>

<% @user.repositories.limit(10).each do |repository| %>
  <p><%= link_to repository.name, [@user, repository] %></p>
<% end %>

<%= link_to 'View all', [@user, :repositories] %>
</div>
