<div class="span-5">
  <ul class="horizontal-list">
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'FAQ', faq_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
  </ul>
</div>
