<h1>Welcome to Codefoundry!</h1>

<% if current_user.nil? %>
  <%= link_to 'Log in', login_path %> - <%= link_to 'Sign up', signup_path %>
<% else %>
  <%= link_to 'Log out', logout_path %>
<% end %>
