<h1>Welcome!</h1>

<p>
  Codefoundry is an open-source code management tool that makes it easy to use
  revision control in your business and other projects.
</p>

<%= start_wide_content %>

<div class="span-11">
<h2>Popular</h2>
<%= render :partial => @popular_projects %>
</div>

<div class="push-2 span-11 last">
<h2>New</h2>
<%= render :partial => @new_projects %>
</div>

<!-- <h2><%= link_to 'Browse projects ->', projects_path %></h2> -->
