<h1>Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.summary %></td>
  </tr>
<% end %>
</table>

<br />
